.portfolio_display_section{
    padding: 72px 20px;
    /* background-color: rgb(245, 239, 237); */
}
.portfolio_display_div{
max-width: 858px;
margin: 0 auto;
padding: 0px 18px;
}
.portfolio_category_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap
}
.portfolio_category_flex button{
    background-color: rgb(243, 240, 237);
    color: rgb(102, 102, 102);
    cursor: pointer;
    font-family: "Inter", system-ui, sans-serif;
    font-size: 12px; 
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 8px 16px; 
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.portfolio_category_flex button.active {
  background-color: rgb(166, 123, 63);
  color: #fff;
}
@media (max-width: 768px) {
  .portfolio_category_flex {
    gap: 8px;
  }

  .portfolio_category_flex button {
    font-size: 11px;
    padding: 7px 14px;
  }
}

@media (max-width: 480px) {
  .portfolio_category_flex {
    justify-content: center;
  }

  .portfolio_category_flex button {
    font-size: 10.5px;
    padding: 6px 12px;
  }
}

/* Display Portfolio */
.portfolio_display_img{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 18px;
  transform: translateY(30px);
}
/* Tablet */
@media (max-width: 900px) {
  .portfolio_display_img {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .portfolio_display_img {
    grid-template-columns: repeat(2, 1fr);
  }
}
.img_portfolio_display_inner_div {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.img_portfolio_display_inner_div img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 2;  
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}
.portfolio_overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover effects */
.img_portfolio_display_inner_div:hover .portfolio_overlay {
  opacity: 1;
}

.img_portfolio_display_inner_div:hover img {
  transform: scale(1.05);
}
/* Transition Effect */
.img_portfolio_display_inner_div {
  transition: opacity 0.3s ease;
}



